/**
 * Style for frontpage
 */

/**
 * Variables
 */

@LinkCol: #FFF7F5;
@LinkHovCol: #b5b5b5;
@colorBodyText: #000000;
@colorDropDown: #464959;
@colorForHeaderFooter: #303234;
@colorForSideHeaders: #464959;
@secondaryColor: #e6e6e6;
@backgroundColor: #e6e6e6;
@colorShadow: #bfbcb9;
@buttonColor: #303234;
@linkColYellow: #F2A30F;
@linkColPink: #F23545;
@maxContentWidth: 960px;

/**
 * General layout
 */

.login {

    h1 {
        text-align: center;
        border-bottom: none;
        font-size: 3em;
    }

    form {
        margin: 5%;
    }

    label {
        font-size: 1.4em;
    }

    input {
        font-size: 1.6em;
        color: lighten(@colorForHeaderFooter, 20%);
    }

    input[type=submit] {
        color: @LinkCol;
    }

    a {
        color: @linkColYellow;
        font-weight: 600;
        font-size: 1.2em;
    }
}

div.logout {
    margin-left: 20%;
    margin-top: 5%;

    a {
        color: @linkColPink;
        font-weight: 600;
        font-size: 1.2;
    }
}
